<div class="col-lg-3 col-md-3">
    <div class="header__nav__option">
        <a href="#" class="search-switch"><img src="~/Content/img/icon/search.png" alt=""></a>
        <a href="#"><img src="~/Content/img/icon/heart.png" alt=""></a>
        <a href="@Url.Action("Cart","Cart")"><img src="~/Content/img/icon/cart.png" alt=""> <span>@ViewBag.quanlityItem</span></a>
        <div class="price">$ @ViewBag.totalPrice</div>
    </div>
</div>

